<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Porteiro</title>
</head>
<body>
    <p>Dashboard do Porteiro   </p>
    <p>Bem-vindo ao dashboard do Porteiro!</p>
    <ul>
        <li><a href="/porteiro/registro-entradas">Registro de Entradas</a></li>
        <li><a href="/porteiro/registro-saidas">Registro de Saídas</a></li>
        <li><a href="/porteiro/perfil">Meu Perfil</a></li>
        <li><a href="/porteiro/encomendas">Encomendas</a></li>
        <li><a href="/porteiro/visitas">Visitas</a></li>
        <li><a href="/porteiro/controle-acessos">Controle de Acessos</a></li>

    </ul>
    

</body>
</html>