<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    
    <h1>Página de Perfil</h1>
    <p>Bem-vindo ao seu perfil!</p>
    <p>Aqui você pode visualizar e editar suas informações pessoais.</p>
    <h1>informações do usuário</h1>
    
    <ul>
        <li>Nome: {{nome}}</li>
        <li>Email: {{email}}</li>
        <li>Telefone: {{telefone}}</li>
    </ul>

</body>
</html>