<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Síndico</title>
</head>
<body>
    <p>Dashboard do Síndico</p>
    <p>Bem-vindo ao dashboard do Síndico!</p>
    <ul>
        <li><a href="/sindico/registro-entradas">Registro de Entradas</a></li>
        <li><a href="/sindico/registro-saidas">Registro de Saídas</a></li>
        <li><a href="/sindico/perfil">Meu Perfil</a></li>
        <li><a href="/sindico/moradores">Moradores</a></li>
        <li><a href="/sindico/areas-comuns">Áreas Comuns</a></li>
        <li><a href="/sindico/relatorios">Relatórios</a></li>

        
    </ul>

</body>
</html>